{% extends 'SEstruchWebsiteBundle::layout.html.twig' %}

{% block content %}
<section class="biography">
    <article id="home" class="opacity90">
    {{ attribute(text, 'text' ~ app.request.locale) | raw  }}
    </article>
</section>
{% endblock %}