{% extends 'SEstruchWebsiteBundle::layout.html.twig' %}

{% block subsections %}
    {{ app.request.get('locale') }}
<ul class="subsections clearfix">
    {% for cat in cats %}
        <li><a href="{{ path('painting', {'id' : cat.id, 'slug' : attribute(cat, 'title' ~ app.request.locale) | slug }) }}">{{ attribute(cat, 'title' ~ app.request.locale | title) }}</a></li>
    {% endfor %}
</ul>
{% endblock %}

{% block content %}

{% endblock %}